<%- include ('partials/_header') %> 
<div class="container">
    <!-- Formulario para añadir tiendas-->
    <div class="row">
            <div class="card">
                <div class="card-body">
                     <form action="/updateprofesores/<%= result._id%>" method="GET">
                         <div class="form-group">
                             <input type='text' name="Nombre" placeholder="Inserta un Nombre" 
                             class="form-control"  value="<%= result.nombre %>">
                         </div>
                         <div class="form-group">
                            <input type='test' name="Apellidos" placeholder="Inserte los Apellidos" 
                            class="form-control value="<%= result.Apellidos %>">
                        </div>
                        <div class="form-group">
                            <input type='text' name="DNI" placeholder="Inserte un DNI" 
                            class="form-control value="<%= result.DNI %>">
                        </div>
                        <div class="form-group">
                            <input type='date' name="Fecha" placeholder="Inserte una fecha de nacimiento " 
                            class="form-control value="<%= result.F_Nacimiento %>">
                        </div>
                        
                         <button type="submit" class="btn btn-primary btn-block">Add</button>
                     </form>
                </div>
            </div>
        </div>
</div>


<%- include ('partials/_footer') %>